# macOS
.DS_Store

# VSCode
.vscode/

# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/

# Logs & data
data/logs/
data/raw/

# Secretsㅇ
config/settings.json
config/fcm_tokens.json
config/firebase_admin.json

# Certificates
*.pem

# Jupyter
.ipynb_checkpoints/
notebooks/result.xlsx